MACHINE=qemu-vexpress-a9
ARCH=arm
BSP=qemu-vexpress-a9
ROOTFS=basic
ROOTFS_BUILD_MODE=static
ROOTFS_IMAGE_FORMAT=ext4
ROOTFS_IMAGE_SIZE_MB=16
ROOTFS_IMAGE_SIZE_MODE=expandable
TOOLCHAIN=arm-linux-musleabi-gcc-stable
