MACHINE=qemu-virt-riscv64
ARCH=riscv64
BSP=qemu-virt64-riscv
ROOTFS=full
ROOTFS_BUILD_MODE=mixed
ROOTFS_PROFILE=full
ROOTFS_IMAGE_FORMAT=ext4
ROOTFS_IMAGE_SIZE_MB=16
ROOTFS_IMAGE_SIZE_MODE=expandable
ROOTFS_PACKAGE_MODE=manual
TOOLCHAIN=riscv64-linux-musleabi-gcc-latest
TOOLCHAIN_VERSION=12.2.0
PACKAGE_BZIP2=y
PACKAGE_CURL=y
PACKAGE_CURL_VERSION=8.20.0
PACKAGE_DIALOG=y
PACKAGE_HELLO=y
PACKAGE_HELLO_VERSION=0.1.0
PACKAGE_IPERF3=y
PACKAGE_LIBEVENT=y
PACKAGE_LIBEVENT_VERSION=2.1.12
PACKAGE_LIBFFI=y
PACKAGE_LIBFFI_VERSION=3.5.2
PACKAGE_LIBGLIB2=y
PACKAGE_LIBICONV=y
PACKAGE_LIBICONV_VERSION=1.17
PACKAGE_LUA=y
PACKAGE_LUA_VERSION=5.5.0
PACKAGE_MC=y
PACKAGE_NANO=y
PACKAGE_NCURSES=y
PACKAGE_NCURSES_VERSION=6.6
PACKAGE_OPENSSL=y
PACKAGE_OPENSSL_VERSION=3.5.7
PACKAGE_PCRE2=y
PACKAGE_PCRE2_VERSION=10.47
PACKAGE_QUICKJS=y
PACKAGE_QUICKJS_VERSION=2026-06-04
PACKAGE_READLINE=y
PACKAGE_READLINE_VERSION=8.3
PACKAGE_TINYSSH=y
PACKAGE_TMUX=y
PACKAGE_TMUX_VERSION=3.3a
PACKAGE_UHTTPD=y
PACKAGE_UHTTPD_VERSION=21
PACKAGE_ZLIB=y
PACKAGE_ZLIB_OPTION_COMPRESSION_LEVEL=balanced
PACKAGE_ZLIB_OPTION_COMPRESSION_LEVEL_BALANCED=y
PACKAGE_ZLIB_OPTION_SHARED=y
PACKAGE_ZLIB_VERSION=1.3.2
