menu "Root filesystem"

choice
    prompt "Root filesystem type"
    default ROOTFS_MINIMAL

config ROOTFS_MINIMAL
    bool "Minimal rootfs"

config ROOTFS_BASIC
    bool "Basic rootfs (BusyBox)"

config ROOTFS_FULL
    bool "Full rootfs"

config ROOTFS_NONE
    bool "Disable Smart rootfs"

endchoice

config ROOTFS
    string
    default "minimal" if ROOTFS_MINIMAL
    default "basic" if ROOTFS_BASIC
    default "full" if ROOTFS_FULL
    default "none" if ROOTFS_NONE

source "rootfs/minimal/Kconfig"
source "rootfs/busybox/Kconfig"
source "rootfs/full/Kconfig"

endmenu
