name: CI Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo add-apt-repository ppa:xmake-io/xmake -y
          sudo apt update
          sudo apt install -y nim
          sudo apt install -y xmake python3-pip
          pip install --upgrade pip
          pip install kconfiglib scons requests tqdm psutil

      - name: Setup Environment and Build
        run: |
          # 使用 bash 作为 shell
          bash -c '
          source env.sh
          cd models
          xmake -vyD
          '
        shell: bash